*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    //height: 70%;
    background-color: rgb(255, 255, 255);
}

#menu{
    background-color: #15410cbb;
    ul{
        text-align: center;
        margin: 20px;
        list-style-type: none;
        li{
            display: inline;
            margin-left: 20px;
            text-transform: uppercase;
            font-size: 20px;
            a{
                color:map-get($mapacolor, color1 );
                text-decoration: none;
                &:hover{ color:map-get($mapacolor, color5);
                    text-decoration: none;
                    transition: 2seg;
                }
            }
        
        
        
        
        }
    
    
    }
   
}
.seccion1{
    div{
        h2{
            font-size: 60px;
            text-align: center;
            color: rgba(32, 143, 18, 0.815);
            margin-top: 50px;
            margin-bottom: 35px;
            text-transform: uppercase;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
        }
        p{
            text-align: center;
            margin-bottom: 60px;
            color: #3b9e14a4;
            font-family: 'Tiro Kannada', serif;
            font-size: 20px
        }
        p{
            margin-bottom: 20px;
        }
    }
    
}
.bsnimg {
    @extend %claseconflex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.imgg{
    &:hover{
    /*width: 400px;
    height: 300px;
    padding: 40px;*/
    background-color: #cacaca;
    margin-right: 10px;
    border: none;
    border-radius: 10%;
    transform: translate(20px, -10px);
    transition: 2s;
    }

   
}

.col{
    //width: 200px;
    //height: 100px;  
    padding-bottom: 20px;
    
}

.videoinfo{
    @extend %claseconflex;
    flex-direction: column;
    padding-bottom: 75px;
    padding-top: 50px;
    h2{
        display: block;
        font-size: 24px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: rgba(32, 143, 18, 0.815);  
    }
    iframe{
        border-radius: 10px;  
         
    }
}

.card-title {
    @include cardtitle; 


}

.card-text{
    text-align: start;
    margin-bottom: 60px;
    color: #3b9e14a4;
    font-family: 'Tiro Kannada', serif;
    font-size: 20px
}

%claseconflex{
    display: flex;
    align-items: center;
    justify-content: center;
}


.logosucu {
    width: 60px;
    height: 60px;
    display: inline;
    position: absolute;
    top: 10px;


}

.container{
    width: 100%;
    height: 430px;
    display:flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

        .card{
                 width: 330px;
                 height: 400px;
                 border-radius: 8px;
                 background-color: rgb(27, 131, 41);
                 display:inline;
                 box-shadow: 0 1px 10px rgba (0, 0, 0, 0.2);
                 color: #ffffff;
                 overflow: hidden;
                 margin: 20px;
                 text-align: center;
                 transition: all 400ms ease;
                 &:hover{
                     transform: translateY(-3%);
                     box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);

                 }

                 img{
                     width: 330px;
                     height: 220px;
                 }
                 h4{
                     font-weight: 600;
                     font-family: 'Lato', sans-serif;
                     font-size: 22px;
                 }

                 p{
                     padding: 0 1rem;
                     font-size: 17px;
                     font-weight: 300;
                     font-family: 'Montserrat', sans-serif;

                 }

                 a{
                     font-weight: 500;
                     text-decoration: none;
                     padding: 8px;
                     color: #ffffff;
                     display: inline-block;
                     border: 1px solid #ffffff;
                     border-radius: 4px;
                     transition: all 400ms ease;
                     &:hover{
                         background-color: #0d4d07;
                         color: #ffffff;
                     }
                 }

             }

}

.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 100px;
    border: #2c8d06;
    color: #2d8b07;
    
    div {

        label{
            width: 300px;
            height: 25px;
            text-align: center;
            border-style: groove;

        }
        input{
            width: 300px;
            height: 25x;

        }
    }

    

}

.piepagina {
    //height: 300px;
    width: 100%;
    background-color: #15410cbb; 

                .grupo-1{
                           width: 100%;
                           max-width: 1500px;
                           margin: auto;
                           display: block;
                           grid-template-columns: repeat (3, 1fr);  
                           grid-gap: 20px;
                           padding: 80px px;

                           .box figure{
                            width: 100%;
                            height: 100%;
                            //display: flex;
                            justify-content: start;
                            align-items: flex-start;
                           }
                           .box figure img{
                            width: 140px;
                           }

                           .box h2{
                            color: #fefefe;
                            margin-bottom: 25px;
                            font-size: 25px;
                            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                           }

                           .box p{
                            color: #efefef;
                           // margin-bottom: 10px;
                            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                           }

                           .red-social a{
                            display: inline-block;
                            text-decoration: none;
                            width: 45px;
                            height: 45px;
                            line-height: 45px;
                            color: #fefefe;
                            //margin-right: 10px;
                            background-color: #022c04;
                            text-align: center;
                            transition: all 300ms ease;
                            &:hover{
                                color: rgb(0, 255, 13);
                            }
                           }


                           
                }

                .grupo-2{
                    background-color: #022c04;
                    padding: 15px 10px;
                    text-align: center;
                    color:#efefef;

                .grupo-2 small{
                    font-size: 15px;
                    height: 15px;
                    width: 15px;
                }


                }

        


}

@media screen and (max-width:800px) {
    .piepagina .grupo-1{
      width: 0%;
      grid-template-columns: repeat 3, 1fr;
      grid-gap: 30px;
      padding: 35px 0px; 
  }
 }

.container-form{
    width: 100px;
    max-width: 1100px;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
                   
                .h2{
                    margin-bottom: 15px;
                    font-size: 35px;


                } 

                .p{
                    font-size: 17px;
                    line-height: 1.6;
                    margin-bottom: 30px;
                }
                a{
                    font-size: 17px;
                    display: inline-block;
                    text-decoration: none;
                    width: 100%;
                    margin-bottom: 15px;
                    color: black;
                    font-weight: 700;
                }

                .i{
                    color: rgb(23, 119, 52);
                    margin-right: 10px;

                }

                .campo, textarea{
                    width: 100%;
                    padding: 15px 10px;
                    font-size: 15px;
                    border: 1px solid #dbdbdb;
                    margin-bottom: 20px;
                    border-radius: 3px;
                    outline: 0px;
                }

                .textarea{
                    max-width: 530px;
                    min-width: 530px;
                    max-height: 140px;
                    min-height: 100px;
                }

                .btn-enviar{
                    padding: 15px;
                    font-size: 16px;
                    border: none;
                    outline: 0px;
                    background: rgb(10, 124, 35);
                    color: white;
                    border-radius: 3px;
                    cursor: pointer;
                    transition: all 300ms ease;
                    &:hover{
                        background: #076907;
                    }
                }

                

}


.flexForm
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    //justify-content: center;
    .FormContactenos{
        padding-left: 40px; 
        width: 500px;
        overflow: auto;
        display: inline-block;
        margin-right:30px;
    }
    
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
  
    .formComentarios{
        .textArea1{
            //position: map-get($map, rposition );
            padding-left: 40px;
            textarea{
                height:297px;
                width: 460px;
                resize: none;
            }
        }
    }
}

.buttonEnviar{
    padding: 0px 0px 20px 40px;
    height: 100%;
}

.alert-warning{
    padding-bottom: 10px;
    width: 100%;
}

.mediospago{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 150px;
    
    .pagos{
        margin: 5px;
        text-align: center;
        margin-right: 15px;
        font-size: 16px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 400;
        &:hover{
            color: #1b7c13fa;

        }



        img{
            width: 425px;
            height: 350px;
            border-radius: 5px;
            cursor: pointer;
            &:hover{
            transform: translateY(-20px);
            transition: 0.5s;
            }
            
        }

    }

}

.tamañoaccord{
    width: 800px;
    margin-left: 600px;
    margin-top: 100px;
    margin-bottom: 150px;


}

