$mapacolor: (
    color1: #76d320,
    color2: #114b03,
    color3: #34b11b,
    color4: #6aa846,
    color5: #084e02,
    
);

@mixin cardtitle{
    
        text-shadow: #000;
        font-size: 17px;
        color: #076613;
    
    
    
}

